* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  html {
    font-size: 60%;
  }
}

/*BODY*/

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/*QUOTE-SECTION*/

@media (max-width: 800px) {
  .quote-section h2 {
    margin: 0;
    font-size: 4rem;
  }
}

