.projects_container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.projects {
  text-align: center;
  padding: 10rem 2rem;
}

.projects h2 {
  font-size: 3rem;
  margin: 0 auto 6rem auto;
  border-bottom: 3px solid #000;
  border-radius: 1px;
}

.project-img {
  height: 400px;
}

.project-title {
  padding: 1rem 0 1.5rem;
  color: white;
  font-size: 2rem;
}

.project-tile {
  text-decoration: none;
}

.slide_show {
  display: none;
}

.prev,
.next {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation/Effects */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.projects_header.rev {
  opacity: 0;
  transform: translate(0);
  transition: 1s all ease;
}

.projects_header.rev.active {
  opacity: 1;
}

.slide_show.rev {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s all ease;
}

.slide_show.rev.active {
  transform: translateY(0);
  opacity: 1;
}

/* Responsive */

@media (max-width: 800px) {
  .projects {
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
  }

