/*About me*/

.about_me {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
}

.about_h2 {
  width: 250px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
}

.about_p {
  display: block;
  width: 500px;
  line-height: 2rem;
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
}

/* Transition effects */

.rev {
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s all ease;
}

.rev.active {
  transform: translateY(0);
  opacity: 1;
}

.about_p.rev {
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: 1s all ease;
}

.about_p.rev.active {
  transform: translateY(0);
  opacity: 1;
}
